<!DOCTYPE html>
<html>
  <head>
    <title>Holistic Entomology</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>H.E. 2015</h1>
    <p>Welcome to Holistic Entomology</p>

<nav>
  <ul>
    <li><a href="/" class="current">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/holisticculture">Holistic Culture</a></li>
    <li><a href="/publications">Publications</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</nav>

<div id="maincontent" width="600">
    <img src="/images/ilva.jpg" alt="River" width="600" height="400">
    <p></p>
    <p></p>
    <p>We provide a wide range of services across the the ﬁeld of entomology. These range from scientiﬁc surveys and an invertebrate identiﬁcation service to projects that explore the cultural context in which we view the invertebrate world. Using the arts as a platform on which to present both science and the natural world. Examples of this are photographic and art exhibitions, performances included contemporary dance, opera and puppet theater.</p>
</div>
<p></p>
<p></p>
<!-- PDF Download Piece -->
<p>Name of Paper: ..., Description of Paper: ...</p>
<a href='images/SmoothieRecipes.pdf' download="ResearchPaper1">Download the PDF Paper</a>
<p></p>
<p></p>

<!-- Twitter Piece -->
<div class="twitter">
<a class="twitter-timeline" href="https://twitter.com/HolisticPeter" data-widget-id="513880440067727360" width="1000" height="500">Tweets by @HolisticPeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</body>
</html>
